@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #e2e2f2;
  font-family: poppins
}

.back {
  position: absolute;
  left: 3%;
  top: 3%;
  background: purple;
  color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  padding: .5rem;
  display: grid;
  place-items: center;
  transition: .3s
}

.back:hover{
  box-shadow: none
}

.back a {
  color: white;
  position: absolute
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.profile div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17rem;
}

form{
    text-align: center
}

.profile div img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile div h2 {
  margin-bottom: .7rem;
  color: purple
}

.profile div input[type="submit"] {
  padding: .7rem;
  border-radius: .5rem;
  background: purple;
  color: white;
  width: 100%;
  margin: 1rem;
}

input, textarea{
  width: 100%;
  background: #fff;
  border-radius: .5rem;
  padding: .8rem;
  margin-bottom: 1rem;
  outline: none;
  border: 0;
} 
