@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  background: #e2e2f2;
  font-family: poppins
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-right: 1rem;
}

.login img{
  width: 15rem;
  margin-bottom: 1rem;
}

.login h1{
  margin-bottom: 1rem;
  color: purple;
}

.login p{
  margin-bottom: 1rem;
  text-align: center
}

form{
  text-align: center;
}

form .input{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
  border-radius: 20rem;
  margin: 1rem;
  width: 100%;
  border: 1px solid #fff;
}

form .input span{
  text-align: center;
  margin: 1rem;
}

form .input input{
  border: 0;
  outline: none;
  background: transparent;
  width: 100%;
}

form .submit{
  width: 110%;
  text-align: center
}

form .submit input[type="submit"]{
  padding: .8rem;
  background: purple;
  color: #fff;
  border: none;
  width: 90%;
  border-radius: 20rem
}

form p{
  margin-top: 2rem;
  font-size: small;
}

form a{
  color: purple
}

.register-img{
    margin-top: 10rem;
}
