@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  color: #000;
}

:root {
  --white-color: #eee;
  --gray-color: #e2e2f2;
  --black-color: #000;
  --main-color: purple;
  --white: #fff
}

body {
  background: var(--white);
  font-family: poppins
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-color);
  padding: .6rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: var(--black-color);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-img img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.home {
<<<<<<< HEAD
    background: url("assests/img/joel-muniz-XqXJJhK-c08-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    display: grid;
    place-items: center;
    filter: brightness(2px)
=======
  width: 100%;
  height: 10rem;
>>>>>>> 57aa59c (main)
}

.home .img {
  margin: 0rem;
}

.home .img img {
  width: 100%;
  height: 30rem;
  
}

@media only screen and (max-width: 600px) {
  .home .img img {
    height: 15rem;
    border-radius: 1rem;
    width: 100%;
  }
  .home .img {
  margin: .8rem;
}
}

.book-display {
  padding: 5rem 1rem;
  text-align: center;
}

.book-display h2 {
  font-size: 2rem;
}

.book-link {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.book-link a {
  color: var(--main-color);
}

.books {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 1rem;
}

.book-container {
  margin: 1rem;
}

.book-container h3 {
  font-size: 1rem;
}

.book-container small {
  font-size: .8rem;
}

.book-container .book {
  width: 13rem;
  background: var(--gray-color);
  padding: 10px;
  height: 15rem;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  border-radius: .3rem;
  box-shadow: var(--box-shadow);
}

@media only screen and (max-width: 600px) {
  .book-container .book {
    width: 8rem;
    height: 11rem;
  }
}

.book-container .book img {
  width: 70%;
  height: 70%;
  box-shadow: var(--box-shadow);
}
